<%= form_for @client do |f| %>
    
     <% if @client.errors.any? %>
       <div id="error_explanation">
         <h2>
           <%= pluralize(@client.errors.count, "error") %> found
         </h2>
         <ul>
           <% @client.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </ul>
       </div>
     <% end %>
    
     <p>
       <%= f.label :name %><br>
       <%= f.text_field :name, maxlength: 50, size:40 %>
     </p>
    
     <p>
       <%= f.label :address %><br>
       <%= f.text_field :address, maxlength: 80, size:40 %>
     </p>

     <p>
       <%= f.label :cpf, 'CPF' %><br>
       <%= f.text_field :cpf, maxlength: 11, size:20 %>
     </p>

     <p>
       <%= f.label :rg, 'RG' %><br>
       <%= f.text_field :rg, maxlength: 20, size:20 %>
     </p>
    
     <p>
       <%= f.submit %>
     </p>
    
   <% end %>