<%= render 'home/menu' %>

<div class='content'>
    <h1>Client details</h1>
    <p>
        <strong>Name:</strong>
        <%= @client.name %>
    </p>

    <p>
        <strong>Address:</strong>
        <%= @client.address %>
    </p>

    <p>
        <strong>CPF:</strong>
        <%= @client.cpf.gsub(/(\d{3})(\d{3})(\d{3})(\d{2})/, '\1.\2.\3-\4') %>
    </p>

    <p>
        <strong>RG:</strong>
        <%= @client.rg %>
    </p>

    <%= link_to 'Show all clients', clients_path %>
</div>