<div class='menu'>
    <div id='title'><%= link_to '/' do %>
        <strong><%= fa_icon 'car' %> Car Rental System</strong>
        <span id="author">by Erick Santos</span>
    <% end %>
    </div>

    <div class='links'>
        <%= link_to 'Clients', clients_path %>
        <%= link_to 'Cars', cars_path %>
        <%= link_to 'Rentals', rentals_path %>
    </div>
</div>
<div class="msg">
    <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>
</div>