<div class='home'>
    <div class='title'>
        <%= fa_icon 'car' %>
        <h1>Car Rental System</h1>
        <div><%= link_to 'by Erick Santos', 'https://erickkelvin.github.io', target: :_blank %></div>
    </div>
    <div class='links'>
        <%= link_to 'Clients', clients_path %>
        <%= link_to 'Cars', cars_path %>
        <%= link_to 'Rentals', rentals_path %>
    </div>
</div>
